<!-- Form for entering automobile data -->
<div class="container-fluid" style="width: 50%; margin: 0 auto; border: solid black 2px">
  <div class="row">
    <div class="col">
      <form #autoForm="ngForm" (ngSubmit)="onSubmit(autoForm.value)">
        <div class="form-group">
          <label class="col-form-label" for="year">Year: </label>
          <div class="col">
            <input type="text"
                   class="form-control"
                   id="year"
                   required
                   name="year"
                   [(ngModel)]="form.year">
          </div>
        </div>

        <div class="form-group">
          <label class="col-form-label" for="make">Make: </label>
          <div class="col">
            <input type="text"
                   id="make"
                   class="form-control"
                   required
                   name="make"
                   [(ngModel)]="form.make">
          </div>
        </div>

        <div class="form-group">
          <label class="col-form-label" for="model">Model: </label>
          <div class="col">
            <input type="text"
                   id="model"
                   class="form-control"
                   required
                   name="model"
                   [(ngModel)]="form.model">
          </div>
        </div>

        <div class="col">
          <button type="submit"
                  class="btn btn-primary mt-3 me-3"
                  [disabled]="!autoForm.valid" >Submit
          </button>

          <button type="reset"
                  class="btn btn-secondary mt-3 ms-3 me-3"
                  (click)="onClear()">Clear
          </button>

          <button type="button"
                  class="btn btn-danger mt-3 ms-3"
                  (click)="onFetchData()">Fetch Data
          </button>
        </div>
      </form>
      <hr>
    </div>
    <div class="row">
      <div class="col">
        <app-vehicle-list *ngIf="showList" [autoList]="loadedAutos"></app-vehicle-list>
      </div>
    </div>
  </div>
</div>
