<!-- Form for entering automobile data-->
<div class="container-fluid" style="width: 50%; margin: 0 auto; border: solid black 2px">
  <div class="row">
    <div class="col">
      <form [formGroup]="autoForm" (ngSubmit)="onSubmit(autoForm.value)">
        <div class="form-group">
          <label class="col-form-label" for="year">Year: </label>
          <div class="col">
            <input type="text"
                   class="form-control"
                   id="year"
                   formControlName="year"
                   required>
          </div>
        </div>

        <div class="form-group">
          <label class="col-form-label" for="make">Make: </label>
          <div class="col">
            <input type="text"
                   id="make"
                   class="form-control"
                   formControlName="make"
                   required>
          </div>
        </div>

        <div class="form-group">
          <label class="col-form-label" for="model">Model: </label>
          <div class="col">
            <input type="text"
                   id="model"
                   class="form-control"
                   formControlName="model"
                   required>
          </div>
        </div>
        <div class="col">
          <button type="submit"
                  class="btn btn-primary mt-3 me-3"
                  [disabled]="!autoForm.valid" >Submit
          </button>
          <button type="reset"
                  class="btn btn-secondary mt-3 ms-3 me-3"
                  (click)="onClear()">Clear
          </button>
          <button type="button"
                  class="btn btn-danger mt-3 ms-3"
                  (click)="onFetchData()">Fetch Data
          </button>
        </div>
      </form>
      <hr>
    </div>
  </div>

  <!-- If there are no automobiles in the array, show this message -->
  <div class="row" *ngIf="loadedAutos.length < 1">
    <p>No data to display!</p>
  </div>

  <!-- If there are automobiles in the array, show them in this table -->
  <div class="row" *ngIf="loadedAutos.length >= 1">
    <div class="col">
      <table class="table table-dark table-striped">
        <thead>
        <tr>
          <!-- I would like to add a column for '#' -->
          <th scope="col">Year</th>
          <th scope="col">Make</th>
          <th scope="col">Model</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let auto of loadedAutos">
          <td>{{ auto.year }}</td>
          <td>{{ auto.make }}</td>
          <td>{{ auto.model }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
