<!-- If there are no automobiles in the array, show this message -->
<div class="row" *ngIf="loadedAutos.length < 1">
  <p>No data to display!</p>
</div>

<!-- If there are automobiles in the array, show them in this table -->
<div class="row" *ngIf="loadedAutos.length >= 1">
  <div class="col">
    <table class="table table-dark table-striped">
      <thead>
      <tr>
        <!-- I would like to add a column for '#' -->
        <th scope="col">Year</th>
        <th scope="col">Make</th>
        <th scope="col">Model</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let auto of loadedAutos">
        <td>{{ auto.year }}</td>
        <td>{{ auto.make }}</td>
        <td>{{ auto.model }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
